<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SoleTrip Logon System</title>
</head>
<style type="text/css"> 
#low_right 
{ 
position: fixed; 
width: 290px; 
height: 120px; 
background: #eee; 
background-color: #DCFCE9; 
border: 4px double #06F867; 
text-align: center; 
padding: 10px; 
margin: 10px; 
left: 575px;
top: 290px;
} 
</style> 
<body style="background-image:url('{{imgserver}}/sbackg.jpg');background-position:center; background-size:cover">
<div id="low_right">
<form method="post">
{% for field in form %}
<div class="fieldWrapper" >
{{ field.label_tag }}:{{ field }} 
</div>
<br/>
{% endfor %}
<br/>
<input type="submit" value="login" />
</form>
</div>
</body>
</html>
